html {
  background: linear-gradient(grey, white);
}

body {
  font-family: helvetica;
}

div.posts-nav-t {
  font-family: 'Comfortaa';
  font-size: 140%;
  text-shadow: 2px 2px 1px black;
  text-align:center;
  padding-top: 5px;
  border: 2px ;
}

div.posts-nav-b {
  font-family: 'Comfortaa';
  font-size: 140%;
  text-shadow: 2px 2px 1px black;
  text-align:center;
  margin-bottom: 5px;
}

div.posts-nav-t a {
  color: white;
}

div.posts-nav-b a {
  color: white;
}

div.headbanner {
  text-align: center;
  border-bottom: 1px solid black;
}

nav {
  border-bottom: 1px solid black;
  background-color: lightblue;
}

ul.navmenu {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
}

ul.navmenu li {
  display: inline-block;
  border: 1px solid black;
  margin: 0 20px 0 20px;
}

div.pagecontent {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 95%;
  height: auto;
  background: linear-gradient(lightgrey, grey);
}

div.pagecontent ul.posts {
  width: 94%;
  height: auto;
  list-style-type: none;
  margin-lfet: auto;
  margin-right: auto;
  display: inline-block;
}

li.post {
  font-family: helvetica;
  height: 110px;
  width: 90%;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: lightgrey;
}

.post .title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 200%;
  text-decoration: underline;
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .preview {
  height: 100px;
  width: 150px;
  border: 1px solid black;
  float: right;
  margin-top: 4px;
  margin-right: 5px;
  display: inline-block;
}

.post .preview img {
  height: 100%;
  width: 100%;
}

.post .userinfo {
  font-size: 125%;
 display: inline-block;
 margin-top: 35px;
 margin-left: 8px;
}

.post .commentcount {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
}

.post .editpost {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
}

.post .deletepost {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
}