html {
  background-image: url("https://media.giphy.com/media/gU25raLP4pUu4/giphy.gif");
}

body {
  margin: 0;
}

/*@import "compass/css3"; rejected by heroku */

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

svg{
  width: 400px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  padding-left: 100px;
  padding-top: 10px;
}

div.posts-nav-t {
  font-family: 'Comfortaa';
  font-size: 140%;
  text-shadow: 2px 2px 1px black;
  text-align:center;
  padding-top: 5px;
  border: 2px ;
}

div.posts-nav-b {
  font-family: 'Comfortaa';
  font-size: 140%;
  text-shadow: 2px 2px 1px black;
  text-align:center;
  margin-bottom: 5px;
}

div.posts-nav-t a {
  color: white;
}

div.posts-nav-b a {
  color: white;
}

div.headbanner {
  text-align: center;
  background-color: black;
}

nav {
  border-bottom: 6px ridge darkgrey;
  background-color: black;
}

h2 {
  font-family: 'Baumans';
  color: white;
}

h3 {
  color: white;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: 'Baumans';
}

ul.navmenu {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  list-style-type: none;
  text-align: center;
}

ul.navmenu li {
  display: inline-block;
   padding: 5.5px 11px;
   border: 1px solid #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#030303));
   background: -webkit-linear-gradient(top, #FFFFFF, #030303);
   background: -moz-linear-gradient(top, #FFFFFF, #030303);
   background: -ms-linear-gradient(top, #FFFFFF, #030303);
   background: -o-linear-gradient(top, #FFFFFF, #030303);
   background-color: #030303;
   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #FFFFFF;
   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #FFFFFF;
   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #FFFFFF;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   text-shadow: #000000 1px 1px 0px;
   color: #FFFFFF;
   font-size: 14px;
   font-family: Helvetica;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   cursor: pointer;
   }
ul.navmenu li:hover {
   background: none;
   background-color: #030303;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #001EFF;
   }
ul.navmenu li:active {
   top: 1px;
   position: relative;
   }

   ul.navmenu li a {
    text-decoration: none;
    color: inherit;
   }

/*  Main Post Index Styling   */
div.pagecontent {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: 6px outset darkgrey;
  width: 95%;
  height: auto;
  background-color: black;
}

div.pagecontent ul.posts {
  width: 94%;
  height: auto;
  list-style-type: none;
  margin-lfet: auto;
  margin-right: auto;
  display: inline-block;
}

li.post {
  font-family: "Verdana";
  height: 110px;
  width: 90%;
  border: 5px inset lightgrey;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: linear-gradient(white, grey);
}

.post .title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .title a {
  color: black;
  text-shadow: 2px 2px 4px grey;
  text-decoration: none;
}

.post .preview {
  height: 100px;
  width: 150px;
  border: 1px solid black;
  float: right;
  margin-top: 4px;
  margin-right: 5px;
  display: inline-block;
}

.post .preview img {
  height: 100%;
  width: 100%;
}

.post .userinfo {
  font-size: 125%;
 display: inline-block;
 margin-top: 25px;
 margin-left: 8px;
}

.post .commentcount {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

.post .editpost {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

.post .deletepost {
  font-size: 125%;
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

/* "Add a Post" Button   */
.animated:hover {
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

.button {
  display: inline-block;
  padding: 10px;
  border: none;
  font: normal 36px/normal "Geostar";
}

.button a {
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px darkgrey;
}

/* Registration and Session Controller Stylings  */
div.user-field {
  font-family: 'Baumans';
  font-size: 14px;
  color: white;
  text-align: center;
}

.user-field input {
  margin-bottom: 10px;
}

div.login-field {
  font-family: 'Baumans';
  font-size: 14px;
  color: white;
  text-align: center;
}

.login-field input {
  margin-bottom: 10px;
}

.loginbutton input {
  margin-left: 50%;
  margin-right: auto;
  margin-bottom: 50px;
}

div.post-title { 
  color: white;
}

/* Comments Controller Styling */

.commentBox {
  display: inline-block;
  width: 400px;
  margin-left: 38%;
  margin-bottom: 25px;
  text-align: center;
  border: 3px outset grey;
  back
}

.commentBoxcontent {
  padding-bottom: 18px;
}

.commentBox h3 {
  padding: 0;
}

div.fullcommentindex li {
  font-family: "Comfortaa";
  border: 3px inset grey;
  background-color: lightgrey;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Comfortaa";
  color: white;
}

p {
  margin-left: 10px;
  font-family: "Comfortaa";
} 